<nav>
    <ul class="navigation">
        <li class="search"><input class="searchform" type="search" value="" placeholder="Search"></li>
        <!--<li class="current"><a href="~/">Home</a></li>-->
        <li>
            <a href="/Home/About">About AlKitab</a>
        </li>
        <li>
            <a href="javascript:;" class="arrow">Programs</a>
            <!-- Drop-Down / Start -->
            <ul>
                <li><a href="/Program/Details/4">Full-Time Hifdh</a></li>
                <li><a href="/Program/Details/5">Part-Time Hifdh</a></li>
                <li><a href="/Program/Details/6">Hifdh Revision</a></li>
                <li><a href="/Program/Details/7">Nadhirah Quran</a></li>
                <li><a href="/Program/Details/8">Language Of The Quran</a></li>
                <li><a href="/Program/Details/9">Understanding The Quran</a></li>
                <li><a href="/Program/Details/10">Understanding The Hadith</a></li>
                <li><a href="/Program/Details/11">Hifdh Curriculum</a></li>
                <li><a href="/Program/Details/12">Home Schooling - COOP</a></li>
                <li><a href="/Program/Details/13">Tutoring</a></li>
            </ul>
            <!-- Drop-Down / End -->
        </li>
        <li>
            <a href="/Activities" class="arrow">Activities</a>
            <!-- Drop-Down / Start -->
            <ul>
                <li><a href="/Activities#field-trips">Field Trips</a></li>
                <li><a href="/Activities#sports-aksl">Sports</a></li>
                <li><a href="/Activities#recreational-activities">Recreational</a></li>
                <li><a href="/Activities#events-lectures">Events</a></li>
                <li><a href="/Activities#competitions">Competitions</a></li>
            </ul>
            <!-- Drop-Down / End -->
        </li>
        <li>
            <a href="/Admission" class="arrow">Admissions</a>
            <!-- Drop-Down / Start -->
            <ul class="scroll">
                <li><a href="/Admission#policy">Policy</a></li>
                <li><a href="/Admission#assessment">Assessment</a></li>
                <li><a href="/Admission#registration">Registration</a></li>
                <li><a href="/Admission#fees-schedule">Fee Schedule</a></li>
                <li><a href="/Admission#calendar">Academy Holidays</a></li>
            </ul>
            <!-- Drop-Down / End -->
        </li>


        <li>
            <a href="/Gallery" class="arrow">Gallery</a>
            <!-- Drop-Down / Start -->
            <ul>
                <li><a href="/Gallery#academy-programs">Academy Programs</a></li>
                <li><a href="/Gallery#field-trips">Field Trips</a></li>
                <li><a href="/Gallery#sports">Sports</a></li>
                <li><a href="/Gallery#recreational">Recreational</a></li>
                <li><a href="/Gallery#events">Events</a></li>
            </ul>
            <!-- Drop-Down / End -->
        </li>
        <li>
            <a href="/Resources" class="arrow">Resources</a>
            <!-- Drop-Down / Start -->
            <ul>
                <li><a href="/Resources">Students</a></li>
                <li><a href="/Resources">Parents</a></li>
                <li><a href="/Resources">Teachers</a></li>
            </ul>
            <!-- Drop-Down / End -->
        </li>

        <li><a href="/Home/Contact">Contact Us</a></li>
    </ul>
</nav>